<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form #f="ngForm" (ngSubmit)="onSubmit(f)"> 
  <ion-grid>
    <ion-row align-items-center style="height: 50vh" padding-horizontal>
      <ion-col size-md="6" offset-md="3">
            <ion-item >
                <ion-label position="floating">E-mail</ion-label>
                <ion-input type="email" ngModel name="email" required email></ion-input>
            </ion-item>
            <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel name="password" required minLength="6"></ion-input>
            </ion-item>
        <div margin-vertical text-center>
        <ion-button type="submit" expand="block" [disabled]="!f.valid">Login</ion-button>
        </div>
       
        <!--<div padding-top text-center>
            <ion-title ><h5>New user? <a routerLink='/signup'>Sign up</a> </h5> </ion-title>
        </div>-->
  </ion-col> 
  </ion-row>
  <div padding-top text-center>
      <ion-title ><h5>New user? <a routerLink='/signup'>Sign up</a> </h5> </ion-title>
  </div>
  </ion-grid>
  </form>
</ion-content>