<ion-header>
  <ion-toolbar color="primary">
    <ion-title>User Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-row align-items-center style="height: 50vh" padding-horizontal>
      <ion-col size-md="6" offset-md="3" margin-top no-padding>
            <ion-item margin-bottom> 
              <ion-label position="stacked">Name</ion-label>
              <ion-input type="text" ngModel name="Name" required Name></ion-input>
            </ion-item>
            <ion-item margin-bottom>
              <ion-label position="stacked">Mobile Number</ion-label>
              <ion-input type="Number" ngModel name="number" required minLength="10"></ion-input>
            </ion-item>
            <ion-item margin-bottom>
              <ion-label position="stacked">E-mail</ion-label>
              <ion-input type="text" ngModel name="email" required email></ion-input>
            </ion-item>
            <ion-item margin-bottom>
              <ion-label position="stacked">Password</ion-label>
              <ion-input type="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel name="password" required minLength="6"></ion-input>
            </ion-item>
            <ion-item margin-bottom>
              <ion-label position="stacked">Re-enter Password</ion-label>
              <ion-input type="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel name="password" required minLength="6"></ion-input>
            </ion-item> 
             <div margin-vertical text-center>
              <ion-button routerLink='/login' expand="block" type="submit" [disabled]="!f.valid">sign up</ion-button>
            </div>

      </ion-col>
    </ion-row>
    </form>
  </ion-grid>

</ion-content>
